// Place all the styles related to the ProductSolds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
  float: left; 
  margin: 1%; 
  padding: 0.5%;
  //height: 100%;
  //width: 100%
}

.search-form {
  //float: left; 
}

.new_button {
  //position: absolute;
}